# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Daniel Faria

### Grupo 03 - Lab 14
<dl>
    <dt>15 horas (33.3%)</dt>
    <dd>ist199309 Rafael Girão</dd>
    <dt>15 horas (33.3%)</dt>
    <dd>ist102082 Simão Sanguinho</dd>
    <dt>15 horas (33.3%)</dt>
    <dd>ist103252 José Pereira</dd>
<dl>

$$
\newcommand{\op}{\text}
\newcommand{\sop}{_\text}
$$

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer(<u>cust_no</u>, name, email, phone, address) 
    - UNIQUE(email) 
$$$$
               
- Order(<u>order_no</u>, date, cust_no)
    - cust_no: FK(Customer) NOT NULL
$$$$
- Sale(<u>order_no</u>)
    - order_no: FK(Order)
$$$$
- pay(<u>order_no</u>, cust_no)
    - order_no: FK(Order)
    - cust_no: FK(Customer) NOT NULL
$$$$
- Employee(<u>ssn</u>, TIN, bdate, name)
    - UNIQUE(TIN)
$$$$
- process(<u>ssn</u>, <u>order_no</u>)
    - ssn: FK(Employee)
    - order_no: FK(Order)
$$$$
- Department(<u>name</u>)
$$$$
- Workplace(<u>address</u>, lat, long)
    - UNIQUE(lat, long)
$$$$
- works(<u>ssn</u>, <u>name</u>, <u>address</u>)
    - ssn: FK(Employee)
    - name: FK(Department)
    - address: FK(Workplace)
$$$$
- Office(<u>address</u>)
    - address: FK(Workplace)
$$$$
- Warehouse(<u>address</u>)
    - address: FK(Workplace)
$$$$
- Product(<u>sku</u>, name, description, price)
$$$$
- EAN_Product(<u>sku</u>, ean)
    - sku: FK(Product)
$$$$
- Supplier(<u>TIN</u>, name, address)
$$$$
- contains(<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK(Order)
    - sku: FK(Product)
$$$$
- supply_contract(<u>TIN</u>, sku, date)
    - TIN: FK(Supplier)
    - sku: FK(Product) NOT NULL
$$$$
- delivery(<u>address</u>, <u>TIN</u>)
    - address: FK(Warehouse)
    - TIN: FK(Supplier)
$$$$
    
<br> Restrições de Integridade </br>

- IC-2 - Every Employee (ssn) must participate in the works association
- IC-3 - Every Order (order_no) must participate in the contains association
- IC-4 - Every Product (sku) must participate in the supply-contract association
- IC-5 - Every Supplier (TIN) must participate in the supply-contract association

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

- IC-1 - Customers can only pay for the sale of an order they have placed themselves

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$$
\begin {align*}
& \Pi\op{(name)} ( \\
& \qquad \op{Customer} \\
& \qquad \bowtie \\
& \qquad  \sigma_{\op{date} \geq \op{``2023-01-01''} \land \op{date} \leq \op{``2023-12-31''} \land \op{price} \gt \op{50}} \op{(} \\
& \qquad \qquad \op{Order} \bowtie \op{contains} \bowtie \rho_{\op{name} \mapsto \op{product\_name}} \op{(Product)} \\
& \qquad )\\
& ) 
\end {align*}
$$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$$
\begin {align*}
& \Pi_{name}\op{(} \\
& \qquad \op{Employees} \\
& \qquad \bowtie \\
& \qquad \sigma_{\op{date} \geq \op{ ``2023-01-01'' } \land \op{date} \leq \op{``2023-01-31''}} \op{(} \\
& \qquad \qquad \op{( Order} \bowtie \op{process)} \\
& \qquad \bowtie \\
& \qquad \op{(Warehouse - Office)} \bowtie \rho_{\op{name} \mapsto \op{department\_name}}\op{(works)} \\
& )
\end {align*}
$$

3. Indique o nome do produto mais vendido;

$$
\begin {align*}
& \op{sales} \leftarrow \op{Sale} \bowtie \op{contains} \\
& \op{qty\_sold\_by\_product} \leftarrow \sop{sku}G\sop{sum(qty)}\op{(sales)} \\
& \op{non\_most\_sold\_product} \leftarrow \sigma_{\op{p1.qty } \lt \op{ p2.qty}}\op{(} \\
& \qquad \rho_{p1}\op{(qty\_sold\_by\_product)} \times \rho_{\op{p2}}\op{(qty\_sold\_by\_product)} \\
& \op{)} \\
& \op{most\_sold\_product} \leftarrow \Pi \sop{sku}\op{(} \\
& \qquad \op{qty\_sold\_by\_product} \\
& \qquad \op{-} \\
& \qquad  \rho_{\op{p1.sku } \mapsto \op{ sku}} (\Pi\sop{p1.sku}\op{(non\_most\_sold\_product})) \\
& \op{)} \\
& \Pi \sop{name}  \op{(most\_sold\_product} \bowtie \op{Product)}

\end {align*}
$$

4. Indique o valor total de cada venda realizada.

$$
\begin {align*}
& \sop{order\_no} G \sop{sum(total\_price)} ( \\
& \qquad \rho_{\op{ qty} \times \op{price } \mapsto \op{ total\_price}} ( \\
& \qquad \qquad \Pi _{\op{order\_no, sku, qty} \times \op{price}} ( \\
& \qquad \qquad \qquad \op{Sale} \bowtie \op{contains} \bowtie \op{Product} \\
& \qquad \qquad ) \\
& \qquad ) \\
& )
\end {align*}
$$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db

In [ ]:
%%sql
-- schema.sql

DROP TABLE IF EXISTS Customer CASCADE;
DROP TABLE IF EXISTS Sale CASCADE;
DROP TABLE IF EXISTS Pay CASCADE;
DROP TABLE IF EXISTS Employee CASCADE;
DROP TABLE IF EXISTS Process CASCADE;
DROP TABLE IF EXISTS Department CASCADE;
DROP TABLE IF EXISTS Workplace CASCADE;
DROP TABLE IF EXISTS Works CASCADE;
DROP TABLE IF EXISTS Office CASCADE;
DROP TABLE IF EXISTS Warehouse CASCADE;
DROP TABLE IF EXISTS Product CASCADE;
DROP TABLE IF EXISTS EAN_Product CASCADE;
DROP TABLE IF EXISTS Supplier CASCADE;
DROP TABLE IF EXISTS contains_ CASCADE;
DROP TABLE IF EXISTS supply_contract CASCADE;
DROP TABLE IF EXISTS Delivery CASCADE;
DROP TABLE IF EXISTS Order_ CASCADE;


CREATE TABLE Customer (
  cust_no INT PRIMARY KEY,
  name VARCHAR,
  email VARCHAR UNIQUE,
  phone NUMERIC(9),
  address VARCHAR
);

CREATE TABLE Order_ (
  order_no INT PRIMARY KEY,
  date DATE,
  cust_no INT  NOT NULL,
  FOREIGN KEY (cust_no) REFERENCES Customer(cust_no)
);

CREATE TABLE Sale (
  order_no INT PRIMARY KEY,
  FOREIGN KEY (order_no) REFERENCES Order_(order_no)
);

CREATE TABLE pay (
  order_no INT,
  cust_no INT NOT NULL,
  PRIMARY KEY (order_no, cust_no),
  FOREIGN KEY (order_no) REFERENCES Order_(order_no),
  FOREIGN KEY (cust_no) REFERENCES Customer(cust_no)
  -- IC - Customers can only pay for the sale of an order they have placed themselves  
);

CREATE TABLE Employee (
  ssn VARCHAR(11) PRIMARY KEY,
  TIN NUMERIC(9, 0) UNIQUE,
  bdate DATE,
  name VARCHAR
);

CREATE TABLE process (
  ssn VARCHAR(11),
  order_no INT,
  PRIMARY KEY (ssn, order_no),
  FOREIGN KEY (ssn) REFERENCES Employee(ssn),
  FOREIGN KEY (order_no) REFERENCES Order_(order_no)
);

CREATE TABLE Department (
  name VARCHAR PRIMARY KEY
);

CREATE TABLE Workplace (
  address VARCHAR PRIMARY KEY,
  latitude NUMERIC(6, 4),
  longitude NUMERIC(7, 4),
  UNIQUE(latitude, longitude)
);

CREATE TABLE works (
  ssn VARCHAR(11),
  name VARCHAR,
  address VARCHAR,
  PRIMARY KEY (ssn, name, address),
  FOREIGN KEY (ssn) REFERENCES Employee(ssn),
  FOREIGN KEY (name) REFERENCES Department(name),
  FOREIGN KEY (address) REFERENCES Workplace(address)
);

CREATE TABLE Office (
  address VARCHAR PRIMARY KEY,
  FOREIGN KEY (address) REFERENCES Workplace(address)
);

CREATE TABLE Warehouse (
  address VARCHAR PRIMARY KEY,
  FOREIGN KEY (address) REFERENCES Workplace(address)
);

CREATE TABLE Product (
  sku VARCHAR PRIMARY KEY,
  name VARCHAR,
  description VARCHAR,
  price INT     -- in cents
);


CREATE TABLE EAN_Product (
  sku VARCHAR PRIMARY KEY,
  ean NUMERIC(13, 0),
  FOREIGN KEY (sku) REFERENCES Product(sku)
);

CREATE TABLE Supplier (
  TIN NUMERIC(9, 0) PRIMARY KEY,
  name VARCHAR,
  address VARCHAR
);

CREATE TABLE contains_ (
  order_no INT,
  sku VARCHAR,
  qty INT,
  PRIMARY KEY (order_no, sku),
  FOREIGN KEY (order_no) REFERENCES Order_(order_no),
  FOREIGN KEY (sku) REFERENCES Product(sku)
);

CREATE TABLE supply_contract (
  TIN NUMERIC(9, 0),
  sku VARCHAR,
  date DATE,
  PRIMARY KEY (TIN, sku),
  FOREIGN KEY (TIN) REFERENCES Supplier(TIN),
  FOREIGN KEY (sku) REFERENCES Product(sku)
);

CREATE TABLE Delivery (
  address VARCHAR,
  TIN NUMERIC(9, 0),
  PRIMARY KEY (address, TIN),
  FOREIGN KEY (address) REFERENCES Warehouse(address),
  FOREIGN KEY (TIN) REFERENCES Supplier(TIN)
);

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%%sql
-- populate.sql

INSERT INTO Customer
VALUES
(13, 'João Faria', 'joao.faria@gmail.com', '913789392', 'Rua Camoes, 123'),
(2, 'Jorge Nunes', 'jorge.n@hotmail.com', '987712312', 'Rua Amarela, 123'),
(35, 'Ana Lampreia', 'ana.lamp@gmailcom', '91203456', 'Rua dos Cravos, 12');

INSERT INTO Order_
VALUES
(101, '2023-01-01', 13),
(102, '2023-01-02', 2),
(103, '2023-05-03', 35),
(104, '2023-05-03', 2);

INSERT INTO Sale
VALUES
(101),
(102),
(104);

INSERT INTO pay 
VALUES
(101, 13),
(102, 2),
(104, 2);

INSERT INTO Employee
VALUES
('12345678910', 243678525, '1999-01-01', 'Sofia Barbosa'),
('10987654321', 125637263, '1985-05-10', 'Diogo Silva');

INSERT INTO process
VALUES
('12345678910', 101),
('10987654321', 102),
('10987654321', 104);

INSERT INTO Department
VALUES
('Sales'),
('Accounting');

INSERT INTO Workplace 
VALUES
('Rua 25 de Abril, 15', 37.1234, -122.5678),
('Avenida das Pombas, 2', 38.9876, -121.3456);


INSERT INTO works 
VALUES
('12345678910', 'Sales', 'Rua 25 de Abril, 15'),
('10987654321', 'Accounting', 'Avenida das Pombas, 2');

INSERT INTO Office 
VALUES
('Rua 25 de Abril, 15');

INSERT INTO Warehouse 
VALUES
('Avenida das Pombas, 2');

INSERT INTO Product 
VALUES
('1001A', 'Caneta', 'caneta preta', 100),
('1002B', 'Móvel', 'móvel branco de madeira', 3500),
('1003C', 'Cama', 'Cama Queen-Size', 29900);

INSERT INTO EAN_Product
VALUES
('1001A', 5607260022122),
('1002B', 5602727273111);

INSERT INTO Supplier
VALUES
(983747222, 'Joana Pereira', 'Rua Verde, 230'),
(124455551, 'Jacinto Torres', 'Rua Azul, 123'),
(525258733, 'Miguel Leal', 'Rua Camoes, 17');

INSERT INTO contains_
VALUES
(101, '1001A', 2),
(101, '1002B', 6),
(102, '1001A', 2),
(103, '1003C', 1),
(104, '1003C', 6);

INSERT INTO supply_contract
VALUES
(983747222, '1001A', '2022-05-01'),
(124455551, '1002B', '2022-05-02'),
(525258733, '1003C', '2022-05-03');



INSERT INTO Delivery
VALUES
('Avenida das Pombas, 2', 983747222),
('Avenida das Pombas, 2', 124455551),
('Avenida das Pombas, 2', 525258733);

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [ ]:
%%sql

SELECT name 
FROM Customer
    NATURAL JOIN Order_
    NATURAL JOIN contains_
    NATURAL JOIN (SELECT sku FROM Product WHERE price > 5000) 
                        AS product_above_50
WHERE 
    EXTRACT(YEAR FROM date) = 2023;

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

SELECT  DISTINCT name
FROM Employee
    NATURAL JOIN (SELECT order_no FROM process)
        AS processed_order
    NATURAL JOIN (SELECT date FROM Order_)
        AS order_date
    NATURAL JOIN (SELECT ssn, address FROM works) 
        AS working_employees
    NATURAL JOIN (
        (SELECT address FROM Warehouse AS w_employee)
        EXCEPT
        (SELECT address FROM Office AS o_employee)
    ) AS w_only_employees    
WHERE EXTRACT(YEAR FROM date) = 2023 
        AND EXTRACT(MONTH FROM date) = 1;

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

WITH qty_sold_by_product AS (
    SELECT sku, SUM(qty) AS total_qty
    FROM (contains_ NATURAL JOIN Sale)
    GROUP BY sku
)
SELECT name AS most_sold
FROM Product NATURAL JOIN
    (SELECT *
    FROM qty_sold_by_product
        WHERE total_qty = (
        SELECT MAX(total_qty)
        FROM qty_sold_by_product
    )) AS most_sold_products;

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

SELECT order_no AS sale, SUM(price * qty) AS total_value
FROM Sale
    INNER JOIN contains_ c USING (order_no)
    INNER JOIN Product USING (sku)
    GROUP BY order_no;