# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. FirstName LastName

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [ ]:
%%sql

DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255)
);

CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
--order_no must exist in contains
);

CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);

CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);

CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);

CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [ ]:
%%sql
-- populate.sql

INSERT INTO Customer
VALUES
(13, 'João Faria', 'joao.faria@gmail.com', '913789392', 'Rua Camoes, 123, 4800-005 Guimarães'),
(2, 'Jorge Nunes', 'jorge.n@hotmail.com', '987712312', 'Rua Amarela, 123, 8700-312 Olhão'),
(35, 'Ana Lampreia', 'ana.lamp@gmailcom', '91203456', 'Rua dos Cravos, 12, 1049-001 Lisboa');

INSERT INTO Orders
VALUES
(101, 13, '2023-01-01'),
(102, 2, '2023-01-02'),
(103, 35, '2023-05-03'),
(104, 2, '2023-05-03');


INSERT INTO pay 
VALUES
(101, 13),
(102, 2),
(104, 2);

INSERT INTO Employee
VALUES
('12345678910', 243678525, '1999-01-01', 'Sofia Barbosa'),
('10987654321', 125637263, '1985-05-10', 'Diogo Silva');

INSERT INTO process
VALUES
('12345678910', 101),
('10987654321', 102),
('10987654321', 104);

INSERT INTO Department
VALUES
('Sales'),
('Accounting');

INSERT INTO Workplace 
VALUES
('Rua 25 de Abril, 15, 3100-440 Pombal', 37.1234, -122.5678),
('Avenida das Pombas, 2, 2844-001 Seixal', 38.9876, -121.3456);


INSERT INTO works 
VALUES
('12345678910', 'Sales', 'Rua 25 de Abril, 15, 3100-440 Pombal'),
('10987654321', 'Accounting', 'Avenida das Pombas, 2, 2844-001 Seixal');

INSERT INTO Office 
VALUES
('Rua 25 de Abril, 15, 3100-440 Pombal');

INSERT INTO Warehouse 
VALUES
('Avenida das Pombas, 2, 2844-001 Seixal');

INSERT INTO Product 
VALUES
('1001A', 'Caneta', 'caneta preta', 100),
('1002B', 'Móvel', 'móvel branco de madeira', 3500),
('1003C', 'Cama', 'Cama Queen-Size', 29900);


INSERT INTO Supplier
VALUES
(983747222, 'Joana Pereira', 'Rua Verde, 230, 2770-022 Paço de Arcos'),
(124455551, 'Jacinto Torres', 'Rua Azul, 123, 1500-173 Amadora'),
(525258733, 'Miguel Leal', 'Rua Camoes, 17, 7780-217 Castro Verde');

INSERT INTO contains
VALUES
(101, '1001A', 2),
(101, '1002B', 6),
(102, '1001A', 2),
(103, '1003C', 1),
(104, '1003C', 6);



INSERT INTO Delivery
VALUES
('Avenida das Pombas, 2, 2844-001 Seixal', 983747222),
('Avenida das Pombas, 2, 2844-001 Seixal', 124455551),
('Avenida das Pombas, 2, 2844-001 Seixal', 525258733);

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [ ]:
%%sql
ALTER TABLE employee 
   ADD CONSTRAINT check_18 CHECK (EXTRACT(YEAR FROM AGE(bdate)) > 18);

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [ ]:
%%sql

-- ESTA A DAR ERRO 

CREATE OR REPLACE FUNCTION check_workplace_type() RETURNS TRIGGER AS $$
DECLARE
  office_count INTEGER;
  warehouse_count INTEGER;
BEGIN
  SELECT COUNT(*) INTO office_count FROM office WHERE address = NEW.address;
  SELECT COUNT(*) INTO warehouse_count FROM warehouse WHERE address = NEW.address;

  IF (office_count > 0 AND warehouse_count > 0) OR (office_count = 0 AND warehouse_count = 0)THEN
    RAISE EXCEPTION 'O local de trabalho deve ser um "Office" ou "Warehouse", mas não pode ser ambos ou nenhum deles.';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER check_workplace_type_trigger
AFTER INSERT OR UPDATE ON workplace 
FOR EACH ROW
EXECUTE FUNCTION check_workplace_type();

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [ ]:
%%sql
-- (RI-3)

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [ ]:
%%sql

SELECT cust_no, name 
FROM customer
    JOIN pay USING (cust_no)
GROUP BY cust_no
HAVING COUNT(*) >= ALL(
    SELECT COUNT(*) 
    FROM customer
    JOIN pay USING (cust_no)
    GROUP BY cust_no);

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [ ]:
%%sql
-- FALTA FAZER O RESTO
SELECT name
FROM employee
    JOIN process USING (ssn)
    JOIN orders USING (order_no)
WHERE EXTRACT(YEAR FROM date) = 2022;

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [ ]:
%%sql
SELECT DATE_PART('month', orders.date)::integer AS month, COUNT(*) AS num_orders
FROM orders
WHERE date_part('year', orders.date) = 2022
AND NOT EXISTS (
  SELECT *
  FROM pay
  WHERE pay.order_no = orders.order_no
)
GROUP BY month;

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [ ]:
%%sql
-- CREATE VIEW ...

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

...

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [ ]:
%%sql
-- SELECT ...

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [ ]:
%%sql
-- SELECT ...

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no
FROM orders 
JOIN contains USING (order_no) 
JOIN product USING (SKU) 
WHERE price > 50 AND 
EXTRACT(YEAR FROM date) = 2023

### Tipo de Índice, Atributos & Justificação

...

### 6.2
SELECT order_no, SUM(qty*price)
FROM contains 
JOIN product USING (SKU) 
WHERE name LIKE ‘A%’ 
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

...